<ion-view title="Playlists">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date" mobi_date_time_picker=true>
    </label>

    <label class="item item-input">
      <span class="input-label">Date time</span>
      <input type="datetime" mobi_date_time_picker=true>
    </label>

    <label class="item item-input">
      <span class="input-label">Date time - local</span>
      <input type="datetime-local" mobi_date_time_picker=true>
    </label>
  </ion-content>
</ion-view>
